h1 {
    font-size: 4rem;
    margin-bottom: 10rem;
}

p {
    font-size: 2rem;
}

.maintenance {
    text-align: center;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

